.slide {
    background-color: inherit;
}

.example {
    background-color: #3f3f3f;
}

.slide-me {
    color: #eee;
    background: url('img/emily-purple-elephpant.jpg');
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.choose1 li:nth-child(1)  p:first-of-type ,
.choose2 li:nth-child(2) p:first-of-type  ,
.choose3 li:nth-child(3) p:first-of-type  {
    background-color: #9c9491;
    color: #000;
}

ul {
    padding-left: 40px;
    padding-top: 0;
}