.slide {
    background-color: inherit;
}

.quote, .quote h3 {
    background-color: #F05B62;
    color: white;
}

.quote blockquote {

    background-color: white;
    color: black;
    padding: 15px 30px;
}

blockquote p {
    font-family: Gotham-Italic serif;
    font-size: 1.5em;
    font-weight: bold;
}

.example {
    background-color: rgba(240, 91, 98, 0.45);
}

.one-thing {
    background-color: #F05B62;
    color: white;
    font-size: 3.77em;
}

.slide-me {
    /*color: #eee;*/
    /*background: url('img/emily-purple-elephpant.jpg');*/
    /*background-size: cover;*/
    background-color: #F05B62;
    color: white;
    /*opacity: 0.3;*/
    /*z-index: -1;*/
}

.slide-me h3, .slide-me a {
    color: white;
}

.choose1 li:nth-child(1)  p:first-of-type ,
.choose2 li:nth-child(2) p:first-of-type  ,
.choose3 li:nth-child(3) p:first-of-type  {
    color: #1b91ff;
}

ul {
    padding-left: 40px;
    padding-top: 0;
}

img {
    align-items: center;
    width: auto;
}

pre {
    background-color: black;
    overflow: scroll;
    position: absolute;
    left: 10px;
    top: 10px;
    height: 600px;
    width: 800px;
}