.slide {
    background-color: inherit;
}

.example {
    background-color: #3f3f3f;
}

.slide-me {
    color: #eee;
    background: url('img/emily-purple-elephpant.jpg');
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.choose1 li:nth-child(1)   {
    background-color: #9c9491;
    color: #000;
}

.choose2 li:nth-child(2)   {
    background-color: #9c9491;
    color: #000;
}

.choose3 li:nth-child(3)   {
    background-color: #9c9491;
    color: #000;
}