.slide {
    background-color: inherit;
}

 blockquote {
    background-color: rgba(228, 34, 105, 0.34);
    font-family: Gotham-Italic serif;
}

.example {
    background-color: rgba(228, 34, 105, 0.34);;
}

.slide-me {
    color: #eee;
    background: url('img/emily-purple-elephpant.jpg');
    background-size: cover;
    opacity: 0.3;
    z-index: -1;
}

.choose1 li:nth-child(1)  p:first-of-type ,
.choose2 li:nth-child(2) p:first-of-type  ,
.choose3 li:nth-child(3) p:first-of-type  {
    color: #1b91ff;
}

ul {
    padding-left: 40px;
    padding-top: 0;
}